# WEEK 3 ASSIGNMENT: SEGMENTING AND CLUSTERING IN TORONTO (CANADA)
## PART 1: GETTING DATA

------------------------------------------
<b>Author:</b> Gabriele Fugazzi
<p><b>Date:</b> 27/02/2021</p>
<p><b>Course:</b> Applied Data Science Capstone</p>
-----------------------------------------

#### MODULES IMPORTING

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import html5lib

#### DATA SCRAPING

In [4]:
wikipedia_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

A: Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas  dataframe.

In [5]:
postal_code = pd.read_html(wikipedia_url, header=0)[0]

A: The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [6]:
postal_code

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

#### DATA CLEANING

A: Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [7]:
postal_code = postal_code[postal_code['Borough'] != 'Not assigned']

In [23]:
postal_code.shape

(103, 3)

A: More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11  in the above table.

In [22]:
postal_code[postal_code['Postal Code'] == 'M5A']

  Postal Code           Borough              Neighbourhood
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [26]:
psmb = postal_code.groupby('Postal Code')['Borough'].size()
psmb[psmb > 1]

Series([], Name: Borough, dtype: int64)

R1: Grouping the dataframe by postal code and counting the number of rows (Borough) I found an empty series. This means that Postal Code is a key field for the dataset

In [27]:
psmb = postal_code.groupby(['Postal Code', 'Borough'])['Neighbourhood'].size()
psmb[psmb > 1]

Series([], Name: Neighbourhood, dtype: int64)

In [28]:
psmb = postal_code.groupby(['Borough'])['Neighbourhood'].size()
psmb[psmb > 1]

Borough
Central Toronto      9
Downtown Toronto    19
East Toronto         5
East York            5
Etobicoke           12
North York          24
Scarborough         17
West Toronto         6
York                 5
Name: Neighbourhood, dtype: int64

R2: Grouping the dataframe by borough and counting the number of rows (Neighborhoods) I found the above series. This means that the dataset should be refined to cointains one row only for each Borough, as requested from the assignment

In [14]:
grouped_postal_code = postal_code.groupby(['Postal Code', "Borough"])

In [15]:
gpc = grouped_postal_code["Neighbourhood"].agg(lambda column: ", ".join(column.str.strip())).reset_index(name="Neighbourhood")

In [18]:
gpc

,Postal Code,Borough,Neighbourhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

A: If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough.

In [19]:
gpc[gpc['Neighbourhood'].str.contains('Not assigned')]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

A: In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [20]:
gpc.shape

(103, 3)

#### DATA SAVING TO FILE

In [21]:
gpc.to_csv('part1_df.csv', index=False)